<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.server.mapper.AdminRoleMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="AdminRole">
        <id column="id" property="id" />
        <result column="admin_id" property="adminId" />
        <result column="rid" property="rid" />
    </resultMap>

    <!-- 更新操作员角色 -->
    <update id="addAdminRole">
        insert into t_admin_role(admin_id,rid) values
        <foreach collection="rids" item="rid" separator=",">
            (#{adminId},#{rid})
        </foreach>
    </update>
</mapper>
